/*
 * cog-style.css
 *
 * Stylesheet for default COG Component CSS classes
 *
 */

.cogApp {
    padding: 10px;
}

.cogContainer {
}

.cogElement {
    display: block;
}

.cogField {
    display: inline-block;
    height: 50px;
    vertical-align: top;
    padding-bottom: 5px;
    /*border: 1px solid #22242D;*/
    min-width: 400px;
}

.cogField .cogRadio {
    height: unset;
}

.cogForm {
    border: 1px solid gray;
    display: block;
}

.cogImage {
}

.cogInput {
    height: 30px;
}

.cogInputRadio {
    height: unset;
    float: left;
}

.cogInputRadioButton {
}

.cogInputRadioLabel {
}

.cogInputDate, .cogInputText {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    width: 200px;
}

.cogLabel {
    width: 150px;
    padding: 5px 5px 5px 15px;
    float: left;
}

.cogOption {
    width: fit-content;
}

.cogSelect {
    height: 30px;
    width: 200px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: rgb(145, 146, 155);
    text-align: center;
    text-align-last: center;
}

.cogText {
    background-color: #22242D;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0;
    /* width: 100%; */
    float: left;
}