/*
 * cog-style.css
 *
 * Stylesheet for default COG Component CSS classes
 *
 */

.cogComponent {
    display: block;
    border-collapse: collapse;
    font-family: Calibri, serif;
    font-size: 20px;
}

.cogApp {
    padding: 10px;
}

.cogContainer {
}

.cogForm {
    border: 1px solid gray;
}

.cogImage {
}

.cogInput {
    height: 30px;
    display: inline-block;
}

.cogInputDate {
}

.cogInputRadio {
}

.cogInputText {
}

.cogSelect {
    display: inline-block;
    height: 30px;
}

.cogText {
    background-color: #00AAAA;
    padding: 10px;
    margin-top: 0;
}