/*
 * cog-style.css
 *
 * Stylesheet for default COG Component CSS classes
 *
 */

.cogApp {
    padding: 10px;
}

.cogComponent {
    display: block;
    border-collapse: collapse;
    font-family: Calibri, serif;
    font-size: 20px;
}

.cogContainer {
}

.cogForm {
    border: 1px solid gray;
}

.cogImage {
}

.cogInput {
    height: 30px;
    display: inline-block;
}

.cogInputRadio {
}

.cogInputDate, .cogInputText {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
}

.cogSelect {
    display: inline-block;
    height: 30px;
}

.cogText {
    background-color: #22242D;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0;
}