/*
 * ray-style.css
 *
 * Stylesheet for default Ray Component CSS classes
 *
 */

.rayApp {
    padding: 10px;
}

.rayContainer {
}

.rayElement {
    display: block;
}

.rayField {
    display: inline-block;
    height: 50px;
    vertical-align: top;
    padding-bottom: 5px;
    /*border: 1px solid #22242D;*/
    min-width: 400px;
}

.rayField .rayRadio {
    height: unset;
}

.rayForm {
    border: 1px solid gray;
    display: block;
}

.rayImage {
}

.rayInput {
    height: 30px;
}

.rayInputRadio {
    height: unset;
    float: left;
}

.rayInputRadioButton {
}

.rayInputRadioLabel {
}

.rayInputDate, .rayInputText {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    width: 200px;
}

.rayLabel {
    width: 150px;
    padding: 5px 5px 5px 15px;
    float: left;
}

.rayOption {
    width: fit-content;
}

.raySelect {
    height: 30px;
    width: 200px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: rgb(145, 146, 155);
    text-align: center;
    text-align-last: center;
}

.rayText {
    background-color: #22242D;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0;
    /* width: 100%; */
    float: left;
}