body {
    background-color: #18171F;
    font-family: Arial, serif;
    width: 100%;
    color: rgb(145, 146, 155);
}

.rayDemoTitle {
    background-color: rgb(34, 36, 45);
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
}

/*
.demoInput {
    width: 250px;
    border: 5px solid red;
}

.meeseeks {
    width: 100%;
}

.demoForm {
    /* height: 200px;
}*/